<a href="https://colab.research.google.com/github/lelinh789123/AI/blob/main/huychuong.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#chon 1999-2010 co bao nhieu huy chuong cac loai cua phap
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url,sep=',')
data1=data[(data['Year']<2011)&(data['Year']>1998)&(data['NOC']=='FRA')]
data1.groupby('Medal').count()

        Year  City  Sport  Discipline  NOC  Event  Event gender
Medal
Bronze     6     6      6           6    6      6             6
Gold       7     7      7           7    7      7             7
Silver     7     7      7           7    7      7             7

In [ ]:
##chon 1999-2010 số huy chương các loại của Pháp ở các môn thể thao
import pandas as pd
url='http://winterolympicsmedals.com/medals.csv'
data=pd.read_csv(url,sep=',')
data1=data[(data['Year']<2011)&(data['Year']>1998)&(data['NOC']=='FRA')]
data1.groupby(['Sport','Medal']).count()

                 Year  City  Discipline  NOC  Event  Event gender
Sport    Medal
Biathlon Bronze     3     3           3    3      3             3
         Gold       2     2           2    2      2             2
         Silver     1     1           1    1      1             1
Skating  Gold       1     1           1    1      1             1
Skiing   Bronze     3     3           3    3      3             3
         Gold       4     4           4    4      4             4
         Silver     6     6           6    6      6             6

[văn bản liên kết](https://)# Mục mới